<?xml version="1.0"?>
<!--
/**
* Copyright (c) 2014, Marcel Hauri
* All rights reserved.
*
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
* AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
* IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
* ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
* LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
* CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
* SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
* CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
* ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
* POSSIBILITY OF SUCH DAMAGE.
*
* @copyright Copyright 2014, Marcel Hauri (https://github.com/mhauri)
*
* @category Order
* @package Mhauri_SampleOrder
* @author Marcel Hauri <marcel@hauri.me>
*/
-->
<config>
    <modules>
        <Mhauri_SampleOrder>
            <version>1.0.4</version>
        </Mhauri_SampleOrder>
    </modules>
    <global>
        <models>
            <sampleorder>
                <class>Mhauri_SampleOrder_Model</class>
            </sampleorder>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <sampleorderSalesQuoteAddItem>
                        <class>sampleorder/observer</class>
                        <method>salesQuoteAddItem</method>
                    </sampleorderSalesQuoteAddItem>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <sampleorderApply>
                        <class>sampleorder/observer</class>
                        <method>checkoutCartUpdateItemsAfter</method>
                    </sampleorderApply>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <resources>
            <sampleorder_setup>
                <setup>
                    <module>Mhauri_SampleOrder</module>
                    <class>Mhauri_SampleOrder_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sampleorder_setup>
            <sampleorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sampleorder_read>
            <sampleorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sampleorder_write>
        </resources>
        <blocks>
            <sampleorder>
                <class>Mhauri_SampleOrder_Block</class>
            </sampleorder>
        </blocks>
        <helpers>
            <sampleorder>
                <class>Mhauri_SampleOrder_Helper</class>
            </sampleorder>
        </helpers>
    </global>

    <frontend>
        <routers>
            <sampleorder>
                <use>standard</use>
                <args>
                    <module>Mhauri_SampleOrder</module>
                    <frontName>sampleorder</frontName>
                </args>
            </sampleorder>
        </routers>
        <translate>
            <modules>
                <sampleorder>
                    <files>
                        <default>Mhauri_SampleOrder.csv</default>
                    </files>
                </sampleorder>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <sampleorder>
                    <files>
                        <default>Mhauri_SampleOrder.csv</default>
                    </files>
                </sampleorder>
            </modules>
        </translate>
    </adminhtml>
</config>
